In [94]:
#near duplicate detection and elimination
#next steps - obtain more data
#near entity recognition - spacy
#relabeling

# import libraries
import fastai
from fastai import *
from fastai.text import * 
import pandas as pd
import numpy as np
from functools import partial
import io
import os

In [95]:
data_path = '../data/training_test_data/'
LM_PATH = Path('../ulmfit_test/headline_lm/')
LM_PATH.mkdir(exist_ok=True)
PATH = Path('../ulmfit_test/pretrain_lm/')
PATH.mkdir(exist_ok=True)
data = pd.read_csv(data_path + 'after_stock_data.csv')
colnames = ['headline','source','label']   
data.columns = colnames

data2 = pd.read_csv(data_path + 'labeled_data.csv')

In [96]:
#dataset specific cleansing and concatenation

#data[data['source'].str.find(' via ') > -1]['source'].str[:data['source'].str.find(' via ')]

for i, row in data[data['source'].str.find(' via ') > -1].iterrows():
  data.at[i,'source'] = data.at[i,'source'][:data.at[i,'source'].find(' via ')].strip()

data.head()

,headline,source,label
0,"Apple, Amazon, YouTube: Safer, faster &amp; le...",USA TODAY,0
1,5G Stocks: Will Amazon Dip Its Toes In?,InvestorPlace,0
2,Fear of Amazon Creates a Bargain in FedEx Stock,InvestorPlace,0
3,Amazon Buyout Buzz Draws Options Bulls to Grub...,Schaeffer's Investment Research,0
4,US Stock Market Overview – Stocks Surge With O...,FX Empire,0

In [97]:
data2.head()

                                           headlines  relevancy
0  Nissan revs up emotion in latest Leaf campaign...          1
1   Renault and Nissan Meet to Talk Fiat - Bloomberg          1
2  Lifted Nissan NV Packs Host Of Gnarly Off-Road...          1
3  Nissan Destination Frontier Is An Approachable...          1
4  With its hands-free system, Nissan could beat ...          1

In [98]:
sources = []
headlines = []

for i, row in data2.iterrows():
    sources.append(data2.at[i, 'headlines'][len(data2.at[i, 'headlines'])-data2.at[i, 'headlines'][::-1].find('-'):].strip())
    headlines.append(data2.at[i, 'headlines'][:len(data2.at[i, 'headlines'])-data2.at[i, 'headlines'][::-1].find('-')-1].strip())                                
    
sources[:10] 
headlines[:10] 

clean_data2 = pd.DataFrame({'headline':headlines, 'source':sources, 'label':data2['relevancy']}, columns=colnames)

In [99]:
#concatenate our data to their data

df_union = pd.concat([data, clean_data2])

df_union.head()

,headline,source,label
0,"Apple, Amazon, YouTube: Safer, faster &amp; le...",USA TODAY,0
1,5G Stocks: Will Amazon Dip Its Toes In?,InvestorPlace,0
2,Fear of Amazon Creates a Bargain in FedEx Stock,InvestorPlace,0
3,Amazon Buyout Buzz Draws Options Bulls to Grub...,Schaeffer's Investment Research,0
4,US Stock Market Overview – Stocks Surge With O...,FX Empire,0

In [108]:
###placeholder cell, shingle and near duplicate elimination
 
 
def get_shingles(doc, size):
    shingles = set()
    if len(doc) > size:
        for i in range(0, len(doc)-size+1):
            shingles.add(doc[i:i+size])
    return shingles
 
def jaccard(set1, set2):
    x = len(set1.intersection(set2))
    y = len(set1.union(set2))
    return x / float(y)

shingles = []

for text in df_union['headline']:
    shingles.append(get_shingles(text, 4))

colnames.append('shingles')

df_shingles = pd.DataFrame({'headline':df_union['headline'], 'source':df_union['source'], 'label':df_union['label'], 'shingles':shingles}, columns=colnames)
  
df_shingles.head()

#print(shingles[:5])

#print(jaccard(shingles1, shingles2), file1, file2)

#for i in range(i, len(data_union['headline']):
#for j in range(i,len(data_union['headline'])):
#print(jaccard(shingles1, shingles2), file1, file2)

,headline,source,label,shingles
0,"Apple, Amazon, YouTube: Safer, faster &amp; le...",USA TODAY,0,"{er, , on, , &amp, e: S, fas, les, azon, noy..."
1,5G Stocks: Will Amazon Dip Its Toes In?,InvestorPlace,0,"{Dip , 5G S, Its, azon, on D, Toes, : Wi, ks:..."
2,Fear of Amazon Creates a Bargain in FedEx Stock,InvestorPlace,0,"{ Bar, eate, azon, in , s a , ates, Crea, x S..."
3,Amazon Buyout Buzz Draws Options Bulls to Grub...,Schaeffer's Investment Research,0,"{ Buy, Opt, azon, rubH, Dra, ptio, t Bu, Buy..."
4,US Stock Market Overview – Stocks Surge With O...,FX Empire,0,"{kly , k Ma, Ove, Big, Year, With, ck M, Big..."

In [104]:
df_union['label'].value_counts()

1    2429
0    1959
Name: label, dtype: int64

In [68]:
import re

df_union['headline'] = df_union['headline'].str.replace("[^a-zA-Z]", " ")

df_union.head(10)

,headline,source,label
0,Apple Amazon YouTube Safer faster amp le...,USA TODAY,0
1,G Stocks Will Amazon Dip Its Toes In,InvestorPlace,0
2,Fear of Amazon Creates a Bargain in FedEx Stock,InvestorPlace,0
3,Amazon Buyout Buzz Draws Options Bulls to Grub...,Schaeffer's Investment Research,0
4,US Stock Market Overview Stocks Surge With O...,FX Empire,0
5,Amazon Shoppers Are Obsessed With This Air Fry...,Cooking Light,0
6,a style font size px href https r sea...,Deadline,0
7,Amazon Stock Will Probably Test but It ...,InvestorPlace,0
8,Scouted Save On Top Rated Dehumidifiers D...,The Daily Beast,0
9,a style font size px href https r sea...,Fashionista,0

In [79]:
from sklearn.model_selection import train_test_split

# split data into training and validation set
df_trn, df_val = train_test_split(df_union[['label','headline']], stratify = df_union['label'], test_size = 0.2, random_state = 12)
print(str(len(df_trn))+ ',' + str(len(df_val)))

3510,878

In [81]:
# Language model data
data_lm = TextLMDataBunch.from_df(train_df = df_trn, valid_df = df_val, path = "")

# Classifier model data
data_clas = TextClasDataBunch.from_df(path = "", train_df = df_trn, valid_df = df_val, vocab=data_lm.train_ds.vocab, bs=32)

In [85]:
learn = language_model_learner(data_lm, arch=AWD_LSTM, drop_mult=0.7)

In [90]:
learn.fit_one_cycle(3, 1e-2)

In [91]:
learn.save_encoder('ft_enc')
learn = text_classifier_learner(data_clas, arch=AWD_LSTM, drop_mult=0.7)
learn.load_encoder('ft_enc')

In [92]:
learn.fit_one_cycle(3, 1e-2)